<section class="heading">
  <h3>Our Services</h3>
  <h1>look at what we have to offer</h1>
</section>

<section id="service-types">
  <div id="types-wrap">
    <div class="single-type">
      <div class="icon-types">
        <fa-icon [icon]="facebook"></fa-icon>
      </div>
      <div class="type-info">
        <div class="top-type-info">
          <p>Spa Treatment</p>
          <div></div>
          <p class="price">R200</p>
        </div>
        <div class="bottom-type-info">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint,
            ullam?
          </p>
        </div>
      </div>
    </div>

    <div class="single-type">
      <div class="icon-types">
        <fa-icon [icon]="menu"></fa-icon>
      </div>
      <div class="type-info">
        <div class="top-type-info">
          <p>Skin Care</p>
          <div></div>
          <p class="price">R150</p>
        </div>
        <div class="bottom-type-info">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint,
            ullam?
          </p>
        </div>
      </div>
    </div>

    <div class="single-type">
      <div class="icon-types">
        <fa-icon [icon]="close"></fa-icon>
      </div>
      <div class="type-info">
        <div class="top-type-info">
          <p>Massage</p>
          <div></div>
          <p class="price">R350</p>
        </div>
        <div class="bottom-type-info">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint,
            ullam?
          </p>
        </div>
      </div>
    </div>

    <div class="single-type">
      <div class="icon-types">
        <fa-icon [icon]="mail"></fa-icon>
      </div>
      <div class="type-info">
        <div class="top-type-info">
          <p>Menicure & Pedicure</p>
          <div></div>
          <p class="price">R300</p>
        </div>
        <div class="bottom-type-info">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint,
            ullam?
          </p>
        </div>
      </div>
    </div>

    <div class="single-type">
      <div class="icon-types">
        <fa-icon [icon]="twitter"></fa-icon>
      </div>
      <div class="type-info">
        <div class="top-type-info">
          <p>Yoga & Therapy</p>
          <div></div>
          <p class="price">R100</p>
        </div>
        <div class="bottom-type-info">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint,
            ullam?
          </p>
        </div>
      </div>
    </div>

    <div class="single-type">
      <div class="icon-types">
        <fa-icon [icon]="insta"></fa-icon>
      </div>
      <div class="type-info">
        <div class="top-type-info">
          <p>Relaxation</p>
          <div></div>
          <p class="price">R179</p>
        </div>
        <div class="bottom-type-info">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint,
            ullam?
          </p>
        </div>
      </div>
    </div>

    <div class="single-type">
      <div class="icon-types">
        <fa-icon [icon]="menu"></fa-icon>
      </div>
      <div class="type-info">
        <div class="top-type-info">
          <p>Makeup</p>
          <div></div>
          <p class="price">R400</p>
        </div>
        <div class="bottom-type-info">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint,
            ullam?
          </p>
        </div>
      </div>
    </div>

    <div class="single-type">
      <div class="icon-types">
        <fa-icon [icon]="close"></fa-icon>
      </div>
      <div class="type-info">
        <div class="top-type-info">
          <p>Body Therapy</p>
          <div></div>
          <p class="price">R329</p>
        </div>
        <div class="bottom-type-info">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint,
            ullam?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="heading">
  <h3>Pricing & Packages</h3>
  <h1>promos, combos & specials to suit your needs</h1>
</section>

<section id="pricing">
  <div class="single-pricing">
    <div class="cover-pricing">
      <div class="heading-pricing">
        <h2>Soul Full</h2>
      </div>
      <div class="price-pricing">
        <p>R450 <i>/session</i></p>
      </div>
      <div class="info-pricing">
        <p><fa-icon [icon]="check"></fa-icon> &nbsp; MakeUp</p>
        <p><fa-icon [icon]="check"></fa-icon> &nbsp; Spa Treatment</p>
        <p><fa-icon [icon]="check"></fa-icon> &nbsp; Massage</p>
      </div>
      <div class="button-pricing">
        <button>Book A Date</button>
      </div>
    </div>
  </div>

  <div class="single-pricing mid-pricing">
    <div class="cover-pricing">
      <div class="heading-pricing">
        <h2>Deluxe</h2>
      </div>
      <div class="price-pricing">
        <p>R650 <i>/session</i></p>
      </div>
      <div class="info-pricing">
        <p><fa-icon [icon]="check"></fa-icon> &nbsp; MakeUp</p>
        <p><fa-icon [icon]="check"></fa-icon> &nbsp; Relaxation</p>
        <p><fa-icon [icon]="check"></fa-icon> &nbsp; Skin Care</p>
      </div>
      <div class="button-pricing">
        <button>Book A Date</button>
      </div>
    </div>
  </div>

  <div class="single-pricing">
    <div class="cover-pricing">
      <div class="heading-pricing">
        <h2>All-In-One</h2>
      </div>
      <div class="price-pricing">
        <p>R1000 <i>/session</i></p>
      </div>
      <div class="info-pricing">
        <p><fa-icon [icon]="check"></fa-icon> &nbsp; Yoga & Therapy</p>
        <p><fa-icon [icon]="check"></fa-icon> &nbsp; Menicure & Pedicure</p>
        <p><fa-icon [icon]="check"></fa-icon> &nbsp; Body Therapy</p>
        <p><fa-icon [icon]="check"></fa-icon> &nbsp; Massage</p>
      </div>
      <div class="button-pricing">
        <button>Book A Date</button>
      </div>
    </div>
  </div>
</section>
