<section class="heading">
  <h3>Reach Out To Us</h3>
  <h1>send a message, or visit us on site</h1>
</section>

<section id="form">
  <form action="">
    <div class="two-step-form">
      <input type="text" placeholder="Your Name" />
      <input type="text" placeholder="Email Address" />
    </div>
    <div class="form-whole">
      <textarea name="" id="" rows="15" placeholder="Message To Us"></textarea>
    </div>
    <button class="primary-btn">Send Message</button>
  </form>
</section>

<section id="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.9165576732503!2d27.920298074477216!3d-26.231900665100788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e95a7564e0fd0c1%3A0x7e2acd8b29b291b5!2sOrlando%20Stadium!5e0!3m2!1sen!2sza!4v1681553234256!5m2!1sen!2sza"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</section>

<section id="the-contacts">
  <div class="contacts-wrap">
    <div class="single-contacts">
      <h2>Contacts</h2>
      <p>071 548 6762</p>
      <p>064 642 8754</p>
    </div>

    <div class="single-contacts">
      <h2>Email Address</h2>
      <p>somemail@mail.com</p>
      <p>anothermail@mail.com</p>
    </div>

    <div class="single-contacts">
      <h2>Shop 1</h2>
      <p>684 Height Street</p>
      <p>Johannesburg 1764</p>
    </div>

    <div class="single-contacts">
      <h2>Shop 2</h2>
      <p>895 Somerset Street</p>
      <p>Cape Town 2003</p>
    </div>
  </div>
</section>
