<section class="heading">
  <h3>Register</h3>
  <h1>Enter your details to join in</h1>
</section>

<section id="the-form">
  <form action="">
    <div class="two-step-form">
      <input type="text" placeholder="First Name" />
      <input type="text" placeholder="Last Name" />
    </div>
    <input type="text" placeholder="Enter Your Email Addres" />
    <textarea placeholder="Physical Address" rows="15"></textarea>
    <input type="password" name="" id="" placeholder="Password" />
    <input type="password" name="" id="" placeholder="Re Type Password" />

    <button class="primary-btn">Register</button>
  </form>
</section>
