<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<section id="welcome">
  <div id="left-welcome">
    <img src="../../../../assets/extra-pictures/3.jpg" alt="" />
  </div>
  <div id="right-welcome">
    <h4 id="welcome-header">WELCOME</h4>
    <h2>To the Gentle TT Spar and Beauty Shop</h2>
    <p id="main-welcome">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quo
      rem quod expedita eveniet exercitationem, vero non maiores error iusto
      culpa, eos quas illum at.
    </p>
    <div id="bottom-welcome">
      <div class="single-bottom-welcome">
        <div class="icon-welcome">
          <fa-icon [icon]="fa"></fa-icon>
        </div>
        <div class="text-welcome">
          <h4>Spar Treatment</h4>
          <p>Lorem ipsum dolor sit amet consectetur.</p>
        </div>
      </div>

      <div class="single-bottom-welcome">
        <div class="icon-welcome">
          <fa-icon [icon]="fa"></fa-icon>
        </div>
        <div class="text-welcome">
          <h4>Beauty Products</h4>
          <p>Lorem ipsum dolor sit amet consectetur</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="mid-home">
  <div id="top-mid-home">
    <h3>Visit Our Store And Get Piece Of Mind and Meditation</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
      consequatur ut saepe quae atque veniam molestias quia rerum optio hic
      veritatis obcaecati deleniti quam mollitia nam, dolore accusantium
      corrupti dolores dicta doloribus alias, expedita ea!
    </p>
  </div>

  <div id="bottom-mid-home">
    <div class="single-mid-home-card">
      <img src="../../../../assets/extra-pictures/6.jpg" alt="" />
      <div
        class="floating-info-bar"
        style="
          width: 25%;
          background: #f8f8f8e8;
          position: absolute;
          bottom: 3.5rem;
          height: 18%;
        "
      >
        <p>Beaty & Nails</p>
        <h4>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
          repellat.
        </h4>
      </div>
    </div>

    <div class="single-mid-home-card">
      <img src="../../../../assets/extra-pictures/3.jpg" alt="" />
      <div
        class="floating-info-bar"
        style="
          width: 25%;
          background: #f8f8f8e8;
          position: absolute;
          bottom: 3.5rem;
          height: 18%;
        "
      >
        <p>Spar Treatment</p>
        <h4>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
          repellat.
        </h4>
      </div>
    </div>

    <div class="single-mid-home-card">
      <img src="../../../../assets/extra-pictures/2.jpg" alt="" />
      <div
        class="floating-info-bar"
        style="
          width: 25%;
          background: #f8f8f8e8;
          position: absolute;
          bottom: 3.5rem;
          height: 18%;
        "
      >
        <p>Skin Care</p>
        <h4>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae,
          repellat.
        </h4>
      </div>
    </div>
  </div>
</section>

<section id="home-stats">
  <div id="wrap-stats">
    <div id="stats-cover">
      <div class="single-stat">
        <div class="stat-icon">
          <fa-icon [icon]="eye"></fa-icon>
        </div>
        <div class="stats-info">
          <h3>20</h3>
          <p>Proucts In Range</p>
        </div>
      </div>

      <div class="single-stat">
        <div class="stat-icon">
          <fa-icon [icon]="smile"></fa-icon>
        </div>
        <div class="stats-info">
          <h3>1450</h3>
          <p>Happy Clients</p>
        </div>
      </div>

      <div class="single-stat">
        <div class="stat-icon">
          <fa-icon [icon]="building"></fa-icon>
        </div>
        <div class="stats-info">
          <h3>5</h3>
          <p>Spar Stops & Shops</p>
        </div>
      </div>

      <div class="single-stat">
        <div class="stat-icon">
          <fa-icon [icon]="user"></fa-icon>
        </div>
        <div class="stats-info">
          <h3>45</h3>
          <p>Qualified Proffesionals</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services-home">
  <div id="top-services">
    <div class="info-services">
      <div>
        <h2>Spar and Skin Treatment</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
          praesentium explicabo, architecto voluptates odio quaerat delectus
          rerum reiciendis unde suscipit distinctio vel repellendus ex deleniti
          ducimus vero deserunt repellat pariatur.
        </p>
        <button class="primary-btn">Get A Date</button>
      </div>
    </div>
    <div class="pic-services">
      <img src="../../../../assets/extra-pictures/service-1.jpg" alt="" />
    </div>
  </div>
  <div id="bottom-services">
    <div class="pic-services">
      <img src="../../../../assets/extra-pictures/3.jpg" alt="" />
    </div>
    <div class="info-services">
      <div>
        <h2>Products To Make Shine</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
          praesentium explicabo, architecto voluptates odio quaerat delectus
          rerum reiciendis unde suscipit distinctio vel repellendus ex deleniti
          ducimus vero deserunt repellat pariatur.
        </p>
        <button class="primary-btn">Buy Your Own</button>
      </div>
    </div>
  </div>
</section>

<section class="heading">
  <h3>Testimonials</h3>
  <h1>What Our Customers Say About Us !</h1>
</section>

<section id="testimonials">
  <div class="single-test">
    <div class="top-test">
      <div class="icons-tests">
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
      </div>
      <div class="text-tests">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque illo
          autem, facilis minus ab voluptate expedita quam! Atque, iure est.
        </p>
      </div>
    </div>
    <div class="bottom-tests">
      <div class="bottom-tests-wrap">
        <div class="tests-img">
          <img src="../../../../assets/me.jpg" alt="" />
        </div>
        <div class="tests-name">
          <h4>Image Shandlani</h4>
          <p>A Client</p>
        </div>
      </div>
    </div>
  </div>

  <div class="single-test">
    <div class="top-test">
      <div class="icons-tests">
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
      </div>
      <div class="text-tests">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque illo
          autem, facilis minus ab voluptate expedita quam! Atque, iure est.
        </p>
      </div>
    </div>
    <div class="bottom-tests">
      <div class="bottom-tests-wrap">
        <div class="tests-img">
          <img src="../../../../assets/me.jpg" alt="" />
        </div>
        <div class="tests-name">
          <h4>Image Shandlani</h4>
          <p>A Client</p>
        </div>
      </div>
    </div>
  </div>

  <div class="single-test">
    <div class="top-test">
      <div class="icons-tests">
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
        <fa-icon [icon]="star"></fa-icon>
      </div>
      <div class="text-tests">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque illo
          autem, facilis minus ab voluptate expedita quam! Atque, iure est.
        </p>
      </div>
    </div>
    <div class="bottom-tests">
      <div class="bottom-tests-wrap">
        <div class="tests-img">
          <img src="../../../../assets/me.jpg" alt="" />
        </div>
        <div class="tests-name">
          <h4>Image Shandlani</h4>
          <p>A Client</p>
        </div>
      </div>
    </div>
  </div>
</section>
