<!-- APP Navigation Bar -->

<header>
  <div class="top-header">
    <div class="contact-header"></div>
    <div class="header-socials"></div>
  </div>

  <nav>
    <a href="" class="logo">
      <img src="" alt="" />
    </a>

    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Sevices</a></li>
      <li><a href="">Products</a></li>
      <li><a href="">About Us</a></li>
      <li><a href="">Contact</a></li>
      <li><a href="">Login</a></li>

      <button>Book Now</button>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
