<div id="two-step-about">
  <img src="../../../../assets/extra-pictures/service-1.jpg" alt="" />
  <div class="right-about">
    <div>
      <h2>Who Is Gentle TT ?</h2>

      <p>
        <fa-icon [icon]="astr"></fa-icon> &nbsp; Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Cum, tenetur?
      </p>
      <p>
        <fa-icon [icon]="astr"></fa-icon> &nbsp; Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Aliquam qui similique nobis, soluta
        repudiandae alias?
      </p>
      <p>
        <fa-icon [icon]="astr"></fa-icon> &nbsp; Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Suscipit velit nisi quis?
      </p>
      <p>
        <fa-icon [icon]="astr"></fa-icon> &nbsp; Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Laborum iste voluptatibus nisi odit
        accusantium obcaecati inventore, debitis assumenda asperiores dolorum.
      </p>
      <p>
        <fa-icon [icon]="astr"></fa-icon> &nbsp; Lorem, ipsum dolor sit amet
        consectetur adipisicing elit.
      </p>
      <p>
        <fa-icon [icon]="astr"></fa-icon> &nbsp; Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Cum, tenetur?
      </p>
      <p>
        <fa-icon [icon]="astr"></fa-icon> &nbsp; Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Cum, tenetur?
      </p>
      <p style="margin-bottom: 2rem">
        <fa-icon [icon]="astr"></fa-icon> &nbsp; Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Cum, tenetur?
      </p>

      <button>Find Something For You</button>
    </div>
  </div>
</div>

<div id="mid-about">
  <div id="cover-about">
    <section class="heading">
      <h3>What Do We Represent</h3>
      <h1>values, mission, integrity, customer service ect.</h1>
    </section>
    <div id="the-mid-wrap">
      <div class="single-values">
        <fa-icon [icon]="fa"></fa-icon>
        <h3>Mission</h3>
        <p>
          <i>"</i> Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Rerum architecto voluptates doloremque eveniet, assumenda unde.
          Facere, assumenda at. Molestias magni assumenda autem dolor omnis
          nemo. <i>"</i>
        </p>
      </div>

      <div class="single-values">
        <fa-icon [icon]="smile"></fa-icon>
        <h3>Values</h3>
        <p>
          <i>"</i> Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Rerum architecto voluptates doloremque eveniet, assumenda unde.
          Facere, assumenda at. Molestias magni assumenda autem dolor omnis
          nemo.<i>"</i>
        </p>
      </div>

      <div class="single-values">
        <fa-icon [icon]="star"></fa-icon>
        <h3>Vision</h3>
        <p>
          <i>"</i> Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Rerum architecto voluptates doloremque eveniet, assumenda unde.
          Facere, assumenda at. Molestias magni assumenda autem dolor omnis
          nemo. <i>"</i>
        </p>
      </div>

      <div class="single-values">
        <fa-icon [icon]="eye"></fa-icon>
        <h3>Goals</h3>
        <p>
          <i>"</i> Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Rerum architecto voluptates doloremque eveniet, assumenda unde.
          Facere, assumenda at. Molestias magni assumenda autem dolor omnis
          nemo. <i>"</i>
        </p>
      </div>
    </div>
  </div>
</div>

<section class="heading">
  <h3>Our Team</h3>
  <h1>get to know the people behind this!</h1>
</section>

<section id="team">
  <div class="single-team">
    <img src="../../../../assets/me.jpg" alt="" />
    <div class="text-div">
      <h4>Jaya Zula</h4>
      <p>FOUNDER</p>
    </div>
  </div>

  <div class="single-team">
    <img src="../../../../assets/me.jpg" alt="" />
    <div class="text-div">
      <h4>Mooketsi Seretsi</h4>
      <p>Product Designer</p>
    </div>
  </div>

  <div class="single-team">
    <img src="../../../../assets/me.jpg" alt="" />
    <div class="text-div">
      <h4>Kent Vilakazi</h4>
      <p>CFO</p>
    </div>
  </div>
</section>
