// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gentle-tt-primary: mat.define-palette(mat.$indigo-palette);
$gentle-tt-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gentle-tt-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gentle-tt-theme: mat.define-light-theme(
  (
    color: (
      primary: $gentle-tt-primary,
      accent: $gentle-tt-accent,
      warn: $gentle-tt-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gentle-tt-theme);

/* You can add global styles to this file, and also import other style files */

$primary-color: #db5c87;
$secondary-color: #db715c;
$alt-color: #db5cc6;
$info-text: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$heading-text: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;

/*
******
******
****** Header and Nav Styles
******
******
******
*/

.secondary-btn {
  background: transparent;
  color: $primary-color;
  padding: 0.5rem;
  border: $primary-color 1px solid;
}

.primary-btn {
  background: $primary-color;
  color: #fff;
  padding: 0.5rem;
  border: none;
  text-transform: uppercase;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.active-desktop {
  a {
    color: $primary-color !important;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.7rem;
  }
}

.heading {
  width: 100%;
  margin: 5rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    font-family: $heading-text;
    color: $primary-color;
    margin-bottom: -1rem;
  }

  h1 {
    font-family: $info-text;
    font-style: italic;
    color: #474646;
  }
}
/** Mobile Menu */

@media screen and (max-width: 912px) {
}
