<section id="top-of-products">
  <div class="top-head-products">
    <p>Showing 1-20 of 50 Items</p>
  </div>
  <div class="bottom-head-products">
    <p>Sort by :</p>
    <select name="" id="">
      <option value="">Default</option>
      <option value="">Name (Asc)</option>
      <option value="">Name (Desc)</option>
      <option value="">Price (Asc)</option>
      <option value="">Price (Desc)</option>
    </select>
  </div>
</section>

<section id="products">
  <div class="single-product">
    <div class="img-product">
      <img src="../../../../assets/extra-pictures/6.jpg" alt="" />
    </div>
    <div class="name-product">
      <h4>Rubber</h4>
    </div>
    <div class="price">
      <p>R169 <i>/each</i></p>
    </div>
    <div class="rating">
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
    </div>
    <div class="button-product">
      <button>Add To Cart</button>
    </div>
  </div>

  <div class="single-product">
    <div class="img-product">
      <img src="../../../../assets/extra-pictures/3.jpg" alt="" />
    </div>
    <div class="name-product">
      <h4>Hair Removal</h4>
    </div>
    <div class="price">
      <p>R89.00 <i>/each</i></p>
    </div>
    <div class="rating">
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
    </div>
    <div class="button-product">
      <button>Add To Cart</button>
    </div>
  </div>

  <div class="single-product">
    <div class="img-product">
      <img src="../../../../assets/extra-pictures/2.jpg" alt="" />
    </div>
    <div class="name-product">
      <h4>Spar Oils</h4>
    </div>
    <div class="price">
      <p>R250.00<i>/each</i></p>
    </div>
    <div class="rating">
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
    </div>
    <div class="button-product">
      <button>Add To Cart</button>
    </div>
  </div>

  <div class="single-product">
    <div class="img-product">
      <img src="../../../../assets/extra-pictures/8.jpg" alt="" />
    </div>
    <div class="name-product">
      <h4>Amla Hair Food</h4>
    </div>
    <div class="price">
      <p>R80.00 <i>/each</i></p>
    </div>
    <div class="rating">
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
    </div>
    <div class="button-product">
      <button>Add To Cart</button>
    </div>
  </div>

  <div class="single-product">
    <div class="img-product">
      <img src="../../../../assets/extra-pictures/service-1.jpg" alt="" />
    </div>
    <div class="name-product">
      <h4>Gentle Magic</h4>
    </div>
    <div class="price">
      <p>R30.00 <i>/each</i></p>
    </div>
    <div class="rating">
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
    </div>
    <div class="button-product">
      <button>Add To Cart</button>
    </div>
  </div>

  <div class="single-product">
    <div class="img-product">
      <img src="../../../../assets/extra-pictures/2.jpg" alt="" />
    </div>
    <div class="name-product">
      <h4>Nail Polish</h4>
    </div>
    <div class="price">
      <p>R200 <i>/each</i></p>
    </div>
    <div class="rating">
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
    </div>
    <div class="button-product">
      <button>Add To Cart</button>
    </div>
  </div>

  <div class="single-product">
    <div class="img-product">
      <img src="../../../../assets/extra-pictures/3.jpg" alt="" />
    </div>
    <div class="name-product">
      <h4>Black Foundation</h4>
    </div>
    <div class="price">
      <p>R110 <i>/each</i></p>
    </div>
    <div class="rating">
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
    </div>
    <div class="button-product">
      <button>Add To Cart</button>
    </div>
  </div>

  <div class="single-product">
    <div class="img-product">
      <img src="../../../../assets/extra-pictures/6.jpg" alt="" />
    </div>
    <div class="name-product">
      <h4>Ointment</h4>
    </div>
    <div class="price">
      <p>R65 <i>/each</i></p>
    </div>
    <div class="rating">
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
    </div>
    <div class="button-product">
      <button>Add To Cart</button>
    </div>
  </div>

  <div class="single-product">
    <div class="img-product">
      <img src="../../../../assets/extra-pictures/8.jpg" alt="" />
    </div>
    <div class="name-product">
      <h4>Acne Killer</h4>
    </div>
    <div class="price">
      <p>R45.00 <i>/each</i></p>
    </div>
    <div class="rating">
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
      <fa-icon [icon]="star"></fa-icon>
    </div>
    <div class="button-product">
      <button>Add To Cart</button>
    </div>
  </div>
</section>
